$bg-color : #87CEFA;

section {
  min-height: 100vh;
}

@mixin right ($right) {
  position: absolute;
  right: $right;
}

/*Vertically central align element, but overlap each other in small screen, so I decide not to use it*/
@mixin vertical-align(){
  position:absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center () {
  margin-left: auto;
  margin-right: auto; 
}

@mixin dummy ($height){
  content: none;
  height: $height;
}

.my-body {
  @include center;
  width: 95%;
  background-image: url("bg.jpg");
  background-attachment: fixed;
}

$jumbotron-margin-size : 25px;
$jumbotron-padding-size : 10px;

.jumbotron {
  margin-top: $jumbotron-margin-size;
  margin-bottom: $jumbotron-margin-size;
  padding: $jumbotron-padding-size;
}

.my-protrait {
  float: left;
  margin: 5px;
}

.align-right{
  @include right(25px);
}

.absolute-pos-container {
  position: relative;
}

.dummy {
  @include dummy(38px);
}

.top .profile, .projects, .contact {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bg-wrapper {
  background-color: rgba(255,255,255,0.7);
  padding: 5px;
}

.read-more {
  text-align: right;
  vertical-align: middle;
  font-size: 1.5em;
}

.skills {
  font-weight: bold;
  font-size: 1.2em;
}

.fa-envelope {
  color: #F08080;
}

.fa-linkedin-square {
  color: #1985BC;
}

.fa-google-plus-square {
  color: #DD4B39;
}

/*more space for project panels*/
.projects .container-fluid {
  padding-left: 0 ;
  padding-right: 0;
}

.projects .small-padding {
  padding-left: 5px;
  pading-right: 5px;
}