$bg-color : #87CEFA;

section {
  min-height: 100vh;
}

.top-text-center {
  text-align: center;
}

.top-summary {
  min-height: 260px; /* protrait height+margin, set min-height to make jumbotron work correctly*/
}

.h3 {
  color: #000;
}

.text-vertical-span {
  line-height: 35px;
}

@mixin right ($right) {
  position: absolute;
  right: $right;
}

@mixin horizontal-padding ($padding){
  padding-left: $padding;
  padding-right: $padding;
}

/*Vertically central align element, but overlap each other in small screen, so I decide not to use it*/
@mixin vertical-align(){
  position:absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center ($width) {
  margin-left: auto;
  margin-right: auto;
  width: $width;
}

@mixin dummy ($height){
  content: none;
  height: $height;
}

.my-body {
  @include center(95%);
  background-image: url("bg.jpg");
  background-attachment: fixed;
}

.jumbotron {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
}

.my-protrait {
  float: left;
  margin: 5px;
}

.align-right{
  @include right(25px);
}

.absolute-pos-container {
  position: relative;
}

.dummy {
  @include dummy(38px);
}

.dummy-anchor {
  @include dummy(35px);
}

.top-self-intro, .top, .profile, .projects, .contact {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bg-wrapper {
  background-color: rgba(255,255,255,0.7);
  padding: 5px;
  border-radius: 6px;
}

.read-more, .back {
  text-align: right;
  vertical-align: middle;
  font-size: 1.5em;
}

.read-more:hover>a, .back:hover>a {
  color: #FF4500;
  text-decoration: none;
}

.skills, .links, .screenshots {
  font-weight: bold;
  font-size: 1.2em;
}

.fa-envelope {
  color: #F08080;
}

.fa-linkedin-square {
  color: #1985BC;
}

.fa-google-plus-square {
  color: #DD4B39;
}

/*more space for project panels*/
.projects .container-fluid {
  @include horizontal-padding(0);
}

.projects .small-padding {
  @include horizontal-padding(5px);
}

#project-template {
  display: none;
}

#project-detail {
  @include center(90%);
  margin-top: 25px;
}