$bg-color : #87CEFA;

@mixin center () {
  margin-left: auto;
  margin-right: auto; 
}

.my-body {
  @include center;
  width: 90%;
}

$jumbotron-margin-size : 25px;

.jumbotron {
  width: 80%;
  margin-top: $jumbotron-margin-size;
  margin-bottom: $jumbotron-margin-size;
  @include center;
}

.my-protrait {
  float: left;
  margin: 5px;
}